body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f4f0;
}

h1 {
  color: #2e5077;
}

.iframe {
  width: 600px;
  height: 500px;
  border: none;
}

.questions {
  display: flex;
  justify-content: center;
  width: 80%;
  gap: 40px;
  margin-bottom: 20px;
  a {
    margin-top: 20px;
    width: 50px;
    height: 20px;
    padding: 10px 20px;
    border-radius: 15px;
    text-decoration: none;
    color: #2e5077;
    background: #79d7be;
    &:hover {
      background: #4da1a9;
    }
  }
  /* .two {
    position: relative;
    top: 100px;
    left: 100px;
  }
  .three {
    position: relative;
    top: 220px;
    left: 200px;
  }
  .four {
    position: relative;
    top: 400px;
  }
  .five {
    position: relative;
    top: 300px;
    right: 400px;
  } */
}
