body {
  background: #f6f4f0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  position: relative;
  right: 220px;
  padding-top: 20px;
  margin-bottom: 20px;
  a {
    text-decoration: none;
    color: #2e5077;
    &:hover {
      color: #4da1a9;
    }
    .icon {
      margin-right: 5px;
    }
  }
}

.window {
  display: flex;
  align-items: center;
  background: #2e5077;
  width: 500px;
  height: 30px;
  margin: 0 20px;
  border: 5px solid #2e5077;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  gap: 5px;
  p {
    position: relative;
    left: 20px;
    color: #f6f4f0;
  }
}

.circle {
  position: relative;
  left: 10px;
  border: 1px solid #ddd;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.red {
  background: red;
}
.yellow {
  background: yellow;
}
.green {
  background: green;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 20px 20px 20px;
  border: 5px solid #2e5077;
  border-top: none;
  width: 500px;
  height: 500px;
  .div1 {
    align-self: center;
    width: 200px;
    height: 200px;
    background: #79d7be;
    position: relative;
    top: 20px;
  }
  .div2 {
    align-self: center;
    position: absolute;
  }
}

.box {
  display: flex;
  width: 100px;
  height: 100px;
  background: #4da1a9;
  color: #f6f4f0;
  justify-content: center;
}
